<!-- <h1>
  <nav>
    <button routerLink="customer" routerLinkActive="active">Customers</a>
    
    <button routerLink="product" routerLinkActive="active">Products</a>
  </nav>
</h1>
<router-outlet></router-outlet> -->

<h1>Welcome to the App Component</h1>


<nav>
  <button routerLink="customer">Go to Customer Component</button>
  <br>
  <br>
  <button routerLink="product">Go to Product Component</button>
  <br>
  <br>
  <button routerLink="recentlyPlaced" routerLinkActive="active">Recently Placed Orders</button>
  <br>
  <br>
  <button routerLink="recentlyDelivered" routerLinkActive="active">Recently Delivered Orders</button>
</nav>
  
<router-outlet></router-outlet>